dist/
.astro/
node_modules/
public/previews/
package-lock.json
src/data/shaders/seascape/mirror.json
src/data/shaders/the-universe-within/mirror.json
src/data/shaders/cyber-fuji-2020/mirror.json
src/data/shaders/cineshader-lava/mirror.json
